//spacing
$xs-size: .5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.2rem;

//text fonts
$bold-font: 'PT Serif', serif;

//header colors
$navy-blue: #10213E;
$off-black: rgb(37, 37, 37);
$flat-blue-light: #4157A8;




